html {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    font-family: system-ui, sans-serif;
    background: #0c0c0c;
}

main[website] {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: .5rem;
    position: relative;
    overflow: hidden;
    color: white;
    font-size: 18px;
    line-height: 1.6;
}

h1[intro] {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: left;
}

h1[group-title] {
    font-size: 2rem;
    position: relative;
    font-weight: 700;
    margin-bottom: 2rem;
}


dt[class-title] {
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    margin-bottom: .2rem;
}

dd[class-content] {
    font-size:1rem;
    color: #a3a3a3;
    margin: 0;
}

.background {
    height: 110vh;
    width: 99vw;
    position: absolute;
    z-index: -1;
    background: linear-gradient(to bottom right, #c3e2ff, #080808);
}

.mainscreen {
    scroll-snap-align: start;
}

.mainscreen[intro] {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.splash-container {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
    max-width: 70%;
}

.splash-text {
    flex: 1;
    margin-right: 2rem;
}

.splash-picture {
    flex: 1;
    display: flex;
    justify-content: center ;
}

.instructions {
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
    padding: 1rem;
    background: #2b2b2b44;
    border-radius: 16px;
    box-shadow: 0 4px 30px #0000009c;
    backdrop-filter: blur(5px);
    overflow: hidden;
}

.text-border {
    text-align: center;
    padding: 4rem 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 30px #0000009c;
    margin: 10rem auto 3rem;
    max-width: 90%;
    position: relative;
    overflow: hidden;
}

.text-accent {
    color: #3779fe;
}

.group-border {
    color:white;
    text-align: center;
    padding: 4rem 8rem;
    margin: 10rem auto 3rem;
    max-width: 90%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background-color: #141415;
    box-shadow: 0 8px 20px #00000080;
}

.text-description {
    max-width: 70%;
    margin: 0 auto 5rem;
    line-height: 1.6;
}

.class-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 2rem;
}

.class {
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.class-text {
    padding-left: 1rem;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: start;
    margin: 0 auto;
    max-width: 60vw;
    padding: 2rem;
    justify-content: center;
    align-content: center;
}

.company {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 250px;
    height: 250px;
    padding: 1rem;
    border: #3c90ff21 1px solid;
    background-color: #141415;
    border-radius: 15px;
}

.company-description {
    margin-top: .5rem;
    font-size: 1rem;
    color: #afafaf;
    line-height: 1.4;
}

.emerging {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: start;
    margin: 0 auto;
    max-width: 60vw;
    padding: 2rem;
    justify-content: center;
    align-content: center;
}

.technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 250px;
    height: 400px;
    padding: 1rem;
    border: #3c90ff21 1px solid;
    background-color: #141415;
    border-radius: 15px;
}

.title-container {
  color: #eff9ff;
  background-color: #141415;
  text-align: center;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 8px 20px #00000080;
  margin: 3rem auto;
  max-width: 60%;
  position: relative;
  overflow: hidden;
}

.website-link {
  width: 100vw;
  max-width: calc(100% - 2rem);
  transform: translate(-50%);
  position: absolute;
  padding: 32px;
  left: 50%;
  font-size: xx-large;
  color: #eff9ff;
  z-index: 5;
}

b[bolder] {
    font-weight: bolder;
}

a[color] {
    color: inherit;
    text-decoration: inherit;
}